---
title: Œuvres
permalink: /creations
---

{% assign creations = site.creations | sort: 'year' %}
<div class="row">
    {% for creation in creations %}
    <div class="col-md-3">
        <div class="card mb-5">
            {% if creation.image %}
                <img src="/assets/images/creations/{{creation.image}}" alt="{{creation.title}}">
            {% endif %}
            <div class="card-body">
                <h2>{{creation.title}}</h2>
                <a href="{{creation.url}}" class="stretched-link">En savoir plus</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
