---
title: Événements
permalink: /events
---

<section class="events">
  {% assign events = site.events | sort: 'year' %}
  {% for event in events %}
    <article class="event">
      <div class="col-md-5">
        <h2 class="date">{{ event.year }}</h2>
      </div>
      <div class="col-md-5 offset-md-1">
        {% if event.image %}
          {% picture {{ event.image }} --alt {{ event.title }} --img loading="lazy" %}
        {% endif %}
        <h3 class="title">{{event.title}}</h3>
        <p>{{ event.description | strip_newlines | strip_html | truncatewords: 30 }}</p>
        <a href="{{event.url}}" class="link">Lire la suite</a>
      </div>
    </article>
  {% endfor %}
</section>
