---
layout: default
title: Événements
permalink: /events
---

<section class="events">
  {% assign events = site.events | sort: 'year' %}
  {% for event in events %}
    <article class="event">
      <div class="col-md-5">
        <h2 class="date">{{ event.year }}</h2>
      </div>
      <div class="col-md-5 offset-md-1">
        {% if event.image %}
          {% picture {{ event.image }} --alt {{ event.title }} --img loading="lazy" %}
        {% endif %}
        <h3 class="title">{{event.title}}</h3>
        <p>{{ event.description | strip_newlines | strip_html | truncatewords: 30 }}</p>
        <a href="{{event.url}}" class="link">Lire la suite</a>
      </div>
    </article>
    {% if event.persons.size > 0 %}
      {% for person in event.persons %}
        {% assign p = site.persons | where: 'slug', person | first %}
        {% if p %}
          <div class="person">
            <div class="col-md-5">
              <h4 class="title">{{p.title}}</h4>
              <p>{{p.life}}</p>
              <a href="{{p.url}}" class="link">En savoir plus</a>
            </div>
            <div class="col-md-2">
              <div class="image">
                {% if p.image %}
                  {% picture person {{ p.image }} --alt {{ p.title }} --img loading="lazy" %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</section>
