{% assign year = 0 %}
{% for event in events %}
  <article class="event">
    <div class="row">
        <div class="col-md-5">
          {% if year != event.year %}
            {% assign year = event.year %}
            <h2 class="date">{{ event.year }}</h2>
          {% endif %}
        </div>
        <div class="col-md-4 offset-md-1">
          {% if event.image %}
            <a href="{{event.url}}">
              {% picture {{ event.image }} --alt {{ event.title }} --img loading="lazy" %}
            </a>
          {% endif %}
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-5 offset-md-6">
          <h3 class="title">{{event.title}}</h3>
          <p>{{ event.abstract | strip_newlines | truncatewords: 30 }}</p>
          <a href="{{event.url}}" class="link">Lire la suite</a>
      </div>
    </div>

    {% if event.persons.size > 0 %}
      {% for slug in event.persons %}
        {% assign person = site.persons | where: 'slug', slug | first %}
        {% if person %}
          <div class="person row">
            <div class="col-8 col-md-5">
              <h4 class="title">{{person.title}}</h4>
              <a href="{{person.url}}" class="link">En savoir plus</a>
            </div>
            <div class="col-4 col-md-2">
              <div class="image">
                <a href="{{person.url}}">
                  {% if person.image %}
                    {% picture person {{ person.image }} --alt {{ person.title }} --img loading="lazy" %}
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </article>
{% endfor %}
