<header class="header">
  <a href="/">{{ site.title }}</a>
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu">Menu</button>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menu" aria-label="Menu">
  <div class="offcanvas-header">
    <button type="button" class="link" data-bs-dismiss="offcanvas">Fermer</button>
  </div>
  <div class="offcanvas-body">
    <nav aria-label="Navigation principale">
      <ul class="nav">
        {% for item in site.data.menus.primary %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="nav">
        {% for kind in site.kinds %}
          <li class="nav-item">
            <a href="{{ kind.url }}" class="nav-link">{{kind.hashtag}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
