.event
    @extend .row
    margin-bottom: $grid-gutter-width * 3
    .date
        font-size: px2rem(81)
        font-weight: 100
        line-height: 1
        @include media-breakpoint-up(md)
            font-size: px2rem(162)
            text-align: right
    picture
        display: block
        margin-bottom: $grid-gutter-width / 2
        @include media-breakpoint-up(md)
            margin-left: - $grid-gutter-width / 2
    img
        display: block
        height: auto
        width: 100%
    .title
        font-size: px2rem(28)
    .link
        @extend .stretched-link
    .person
        text-align: right
        &:first-child
            margin-top: $grid-gutter-width * 3
        &:not(:last-child)
            margin-bottom: $grid-gutter-width
