.header
    margin-bottom: $grid-gutter-width * 3
    padding-bottom: $grid-gutter-width
    padding-top: $grid-gutter-width
    text-align: center
    > a
        text-decoration: none
    .btn
        position: absolute
        right: $grid-gutter-width
        top: $grid-gutter-width
