.header
    padding-bottom: 10vh
    padding-top: 10vh
    text-align: center
    .logo
        display: inline-block
        margin-bottom: 0
        text-decoration: none
        @include media-breakpoint-up(md)
            font-size: px2rem(36)
        span
            display: block
            font-weight: 100
            text-transform: uppercase
            @include media-breakpoint-up(md)
                font-size: px2rem(92)
        & + p
            font-size: px2rem(16)
            margin-bottom: 0
