.offcanvas
    background-color: $gray-900
    .nav
        flex-direction: column
        &:first-child
            margin-bottom: $grid-gutter-width
            li
                font-size: px2rem(26)
    .btn-close
        filter: invert(1)
        margin-left: auto
        opacity: 1
