.person
    align-items: center
    position: relative
    text-decoration: none
    .title
        font-size: px2rem(24)
        font-weight: 400
        line-height: px2rem(32)
        margin-bottom: 0
        & + p
            line-height: px2rem(32)
            margin-bottom: 0
    .image
        aspect-ratio: 1/1
        background-color: $gray-500
        border-radius: 50%
        margin-bottom: $grid-gutter-width / 2
        overflow: hidden
        position: relative
    picture
        display: block
    img
        display: block
        width: 100%
    .link
        @extend .stretched-link
