.person
    @extend .row
    align-items: center
    margin-bottom: $grid-gutter-width
    text-align: right
    .title
        font-size: px2rem(24)
        margin-bottom: 0
    .image
        aspect-ratio: 1/1
        background-color: $gray-500
        border-radius: 50%
        overflow: hidden
        position: relative
    picture
        display: block
    img
        display: block
        height: auto
        width: 100%
    .link
        @extend .stretched-link
