---
layout: default
---
{% assign author = site.authors | where: 'slug', page.author | first %}

<article class="row">
  <div class="col-md-5">
    {% if page.image %}
      {% picture {{ page.image }} --alt {{ page.title }} %}
    {% endif %}
  </div>
  <div class="col-md-6 offset-md-1 ">
    <h1>{{page.title}}</h1>
    <p>
      {{ page.year }}
      {% assign kind = site.kinds | where: 'slug', page.kind | first %}
      <a href="{{kind.url}}">{{ kind.hashtag }}</a>
    </p>

    {{ page.description | markdownify }}

    {% for slug in page.persons %}
      {% assign person = site.persons | where: 'slug', slug | first %}
      {% if person %}
        <div class="person row">
          <div class="col-4">
            <div class="image">
              {% if person.image %}
                {% picture person {{ person.image }} --alt {{ person.title }} --img loading="lazy" %}
              {% endif %}
            </div>
          </div>
          <div class="col-8">
            <h4 class="title">{{person.title}}</h4>
            {% if person.birth %}
              <p>{{person.birth}} &mdash;{% if person.death %} {{person.death}}{% endif %}</p>
            {% endif %}
            <a href="{{person.url}}" class="link">En savoir plus</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</article>

<nav aria-label="Pagination entre événement">
  {% if page.previous.url %}
    <a class="prev link" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next link" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</nav>

{% assign other_events = site.events | where: 'year', page.year | where_exp: "item", "item.slug != page.slug" %}
{% if other_events.size > 0 %}
<div class="row mt-5 pt-5">
  <div class="col-md-6">
    <h2>Autres événements en {{page.year}}</h2>
  </div>
  <div class="col-md-6">
    <table>
      <tbody>
        {% for event in other_events %}
          {% assign kind = site.kinds | where: 'slug', event.kind | first %}
          <tr>
            <th><a href="{{event.url}}">{{ event.title }}</a></th>
            <td><a href="{{kind.url}}">{{ kind.hashtag }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
