$body-bg: black
$body-color: white
$primary: white
$secondary: #00FF85
$border-color: white

$font-family-sans-serif: 'Planc', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$font-size-root: 1rem
$font-size-base: 1.125rem

$headings-font-weight: 100
$headings-margin-bottom:  1.5rem

$h1-font-size: px2rem(58)

$offcanvas-bg-color: $secondary
$offcanvas-color: black

$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0

$btn-font-weight: 100
